@using System.Globalization
@model Show

<div class="row pb-3 mb-5 pt-4">
    <input asp-for="Id" hidden />
    <div class="row pb-3 mb-5 pt-4">
        <div class="col-10 col-lg-9 col-sm-6 card pt-3 pb-8 mx-3">
            <h3 class="card-header">@Model.Movie.Name</h3>
            <div class="card-body">
                <h5 class="card-title">@Model.Theatre.Name</h5>
                <h6 class="card-subtitle text-muted">@Model.Theatre.Address, @Model.Theatre.City</h6>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Date, @Model.Time</p>
                <p class="card-text"><button type="button" class="btn btn-light disabled">@Model.ShowType</button> Price - @Model.Price.ToString("c", new CultureInfo("hi-IN"))</p>
            </div>
            <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: @Model.BookedSeats%;" aria-valuenow="@Model.BookedSeats" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="col-2 col-rg-2 my-3">
            <a type="button" asp-area="Admin" asp-controller="Show" asp-action="Index" class="btn btn-primary my-2">Back to Shows List</a>
            <div>
                <a type="button" asp-area="Admin" asp-controller="Show" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-info my-2">Edit</a>
            </div>
            <a type="button" asp-area="Admin" asp-controller="Show" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger my-2">Delete</a>
        </div>
    </div>
</div>